<div class="fondo">
  <!-- Barra de abajo -->
  <div class="barabajo">
    <div style="width: 375px; height: 31.70px"></div>
  </div>

  <!-- Da color a fondo negro -->
  <div class="fondo2">
    <div style="width: 375px; height: 100%; background: black"></div>
  </div>
  <!-- Top Search -->
  <div style="left: 10px; top: 117px; position: absolute; text-align: center; color: white; font-size: 26.75px; font-family: SF Pro Display; font-weight: 700; line-height: 20px; word-wrap: break-word">Top Searches</div>
  <div class="contenedor">

    <!-- Barra de busqueda -->
  <div style="width: 100%; height: 100%; left: 0px; top: 2%; position: absolute">
    <div style="width: 100%; height: 7%; left: 0px; top: 0px; position: absolute; background: #424242"></div>
    <div style="width: 328px; height: 31px; left: 19px; top: 11px; position: absolute">
      <div style="width: 244.56px; height: 31px; left: 25px; top: 0px; position: absolute; text-align: center; color: #C4C4C4; font-size: 15.21px; font-family: SF Pro Display; font-weight: 400; line-height: 31px; letter-spacing: 0.21px; word-wrap: break-word">Search for a show, movie, genre, e.t.c.</div>
      <div style="width: 20px; height: 20px; left: 0px; top: 5px; position: absolute">
        <div style="width: 15.63px; height: 15.63px; left: 2.19px; top: 2.19px; position: absolute;"><img src="../../assets/search.png"></div>
      </div>
      <div style="width: 24px; height: 24px; left: 304px; top: 3px; position: absolute">
        <div style="width: 20px; height: auto; left: 5px; top: 2px; position: absolute;"><img src="../../assets/microfono.png"></div>
      </div>
    </div>
  </div>

  <!-- Citation -->
  <div class="citation">
    <div style="width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute">
      <div class="citation2"></div>
    </div>
    <img style="width: auto; height: 11.5%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen1.png" />
    <div style="width: 219px; height: 30px; left: 153px; top: 23px; position: absolute">
      <div style="width: 28px; height: 28px; left: 191px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
        
      </div>
      <div style="width: 50%; height: 50%; left:25%; top: 40%; position: absolute; text-align: center; color: white; font-size: 200%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">Citation</div>
    </div>
  </div>
  <!-- Ozark -->
  <div style="width: 100%;
  height: 100%;
  left: 0px;
  top: 23.5%;
  position: absolute
  ">
    <div style=" width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute; background: #424242">
      <div style="width: 100%; height: 6px; left: 0px; top: 0px; position: absolute; background: #424242"></div>
      <img style="width: auto; height: 100%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen2.png" />
    </div>
    <div style="width: 207px; height: 32px; left: 165px; top: 20px; position: absolute">
      <div style="width: 28px; height: 28px; left: 179px; top: 4px; position: absolute">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
      </div>
      <div style="width: 50%; height: 50%; left:20%; top: 40%; position: absolute; text-align: center; color: white; font-size: 200%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">Ozark</div>
    </div>
  </div>
  <!-- The Setup -->
  <div style="width: 100%;
  height: 100%;
  left: 0px;
  top: 35.5%;
  position: absolute
  ">
    <div style="width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute">
      <div style="width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; background: #424242"></div>
      <img style="width: auto; height: 100%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen3.png" />
    </div>
    <div style="width: 207px; height: 30px; left: 165px; top: 23px; position: absolute">
      <div style="width: 28px; height: 28px; left: 179px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
      </div>
      <div style="width: 100%; height: 50%; left:0%; top: 40%; position: absolute; text-align: center; color: white; font-size: 150%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">The Setup</div>
    </div>
  </div>
  <!-- Your Excelency -->
  <div style="width: 100%;
  height: 100%;
  left: 0px;
  top: 47.5%;
  position: absolute
  ">
    <div style="width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute">
      <div style="width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; background: #424242"></div>
      <img style="width: auto; height: 100%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen4.png" />
    </div>
    <div style="width: 207px; height: 30px; left: 165px; top: 23px; position: absolute">
      <div style="width: 28px; height: 28px; left: 179px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
      </div>
      <div style="width: 100%; height: 50%; left:15%; top: 40%; position: absolute; text-align: center; color: white; font-size: 150%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">Your Excellency</div>
    </div>
  </div>
  <!-- Oloture -->
  <div style="width: 100%;
  height: 100%;
  left: 0px;
  top: 83.5%;
  position: absolute
  ">
    <div style="width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute">
      <div style="width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; background: #424242"></div>
      <img style="width: auto; height: 100%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen7.png" />
    </div>
    <div style="width: 219px; height: 30px; left: 153px; top: 23px; position: absolute">
      <div style="width: 28px; height: 28px; left: 191px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
      </div>
      <div style="width: 50%; height: 50%; left:25%; top: 40%; position: absolute; text-align: center; color: white; font-size: 200%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">Oloture</div>
    </div>
  </div>
  <!-- The Governor -->
  <div style="width: 100%;
  height: 100%;
  left: 0px;
  top: 59.5%;
  position: absolute
  ">
    <div style="width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute">
      <div style="width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; background: #424242"></div>
      <img style="width: auto; height: 100%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen5.png" />
    </div>
    <div style="width: 207px; height: 30px; left: 165px; top: 23px; position: absolute">
      <div style="width: 28px; height: 28px; left: 179px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
      </div>
      <div style="width: 100%; height: 50%; left:10%; top: 40%; position: absolute; text-align: center; color: white; font-size: 150%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">The Governor</div>
    </div>
  </div>
  <!-- Breaking Bad -->
  <div style="width: 100%;
  height: 100%;
  left: 0px;
  top: 71.5%;
  position: absolute
  ">
    <div style="width: 100%; height: 11.5%; left: 0px; top: 0px; position: absolute">
      <div style="width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; background: #424242"></div>
      <img style="width: auto; height: 111%; left: 0px; top: 0px; position: absolute; border-radius: 2px" src="../../assets/imagen6.png" />
    </div>
    <div style="width: 207px; height: 30px; left: 165px; top: 23px; position: absolute">
      <div style="width: 28px; height: 28px; left: 179px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width:100%; height:100%;"><img src="../../assets/play.png"></div>
      </div>
      <div style="width: 100%; height: 50%; left:10%; top: 40%; position: absolute; text-align: center; color: white; font-size: 150%; font-family: SF Pro Display; font-weight: 400; line-height: 30px; letter-spacing: 0.75px; word-wrap: break-word">Breaking Bad</div>
    </div>
  </div>

<!-- Barra de navegación -->

<div style="width: 100%; height: 53px; left:0; top: 95%; position: absolute; align-items: center;align-content: center;">
  
  <div style="width: 100%; height: 48px;   background: #121212;align-items: center;"></div>
  <div style="width: 100%; height: 45px; position: absolute; left: 0; top: 0px; display: flex; justify-content: center; align-items: center; ">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="ion-margin" >
        <path d="M22 9.15789L12 2" stroke="#8C8787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 9.15789L12 2" stroke="#8C8787" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 19V7.36841" stroke="#8C8787" stroke-width="2" stroke-linecap="round"/>
        <path d="M19 19V7.36841" stroke="#8C8787" stroke-width="2" stroke-linecap="round"/>
        <path d="M5 19H19" stroke="#8C8787" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none "class="ion-margin">
        <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"class="ion-margin">
        <path d="M2 4H0V18C0 19.1 0.9 20 2 20H16V18H2V4ZM18 0H6C4.9 0 4 0.9 4 2V14C4 15.1 4.9 16 6 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 14H6V2H18V14ZM10 3.5V12.5L16 8L10 3.5Z" fill="#8C8787"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"class="ion-margin">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 19H19C19.2652 19 19.5196 19.1054 19.7071 19.2929C19.8946 19.4804 20 19.7348 20 20C20 20.2652 19.8946 20.5196 19.7071 20.7071C19.5196 20.8946 19.2652 21 19 21H5C4.73478 21 4.48043 20.8946 4.29289 20.7071C4.10536 20.5196 4 20.2652 4 20C4 19.7348 4.10536 19.4804 4.29289 19.2929C4.48043 19.1054 4.73478 19 5 19ZM13 13.175L16.243 9.933L17.657 11.347L12 17.004L6.343 11.347L7.757 9.933L11 13.175V2H13V13.175Z" fill="#8C8787"/>
    </svg>
</div>

</div>


</div>

  

  

  <!-- Imagenes portada -->
  <div style="width: 10px; height: 10px; left: 190px; top: 739px; position: absolute">
    <div style="width: 10px; height: 10px; left: 0px; top: 0px; position: absolute; background: #E50914; border-radius: 9999px"></div>
    <div style="left: 2px; top: 5px; position: absolute; text-align: center; color: white; font-size: 8.20px; font-family: SF Pro Display; font-weight: 500; letter-spacing: 0.26px; word-wrap: break-word">4</div>
  </div>
</div>